<!doctype html>

{% extends "templates/layout.html" %}

{% block body %}
<div class="portfolio-body-container">
	<div class="portfolio-body">
		<h1>
			Salesforce Analytics Cloud
		</h1>
		Salesforce Analytics Cloud is a an enterprise-class business intelligence application and platform. Two complimentary feature areas make up the Analtyics cloud:
		<br />
		<br />
		Reports and Dashboards, which is included in most standard editions of Salesforce as a means to access, analyze, present, and collaborate on your Salesforce data.
		<br />
		<br />
		Wave Analytics, which encompasses both Salesforce and any external data, provides an easy-to-use visual query engine (turning anyone into a business analyst), and features
		a bunch of high tech wizardy that lets you run queries on enormous sets of data (think hundreds of thousands, millions, billions of records) in no time at all.

		Analytics Cloud further provides APIs so that external developers can extend the platforms even further.
	</div>
</div><!--
	Comment for in-line block
--><div class="portfolio-portrait">
	<img src="/static/images/portfolio/analytics_cloud.png" />
</div>
{% endblock %}
