<!doctype html>

{% extends "templates/portfolio/portfolio.html" %}

{% block portfolio_item %}
	<div class="portfolio-item-container">
			<h1>
				Salesforce Analytics Cloud
			</h1>
			<p>
				As Lead Technical Writer for the <a href="https://www.salesforce.com/products/einstein-analytics/overview/" target="_blank">Analytics Cloud</a> at Salesforce, I work with engineers, designers, product managers, tier 3 support, and marketers to make intuitive business intelligence tools.
			</p>
			<p>
				Check out a few examples of my work on the Analytics Cloud:
			</p>
			<ul>
				<li><a href="https://help.salesforce.com/articleView?id=analytics_landing_page.htm" target="workSample" rel="noreferrer">Help</a></li><!--Note to Self: Need to figure out how to get the help page to appear in an iframe-->
				<li><a href="https://salesforce.vidyard.com/watch/6sEtckzxSxa2uwuKFk6DwW" target="workSample" rel="noreferrer">Videos</a></li>
				<li><a href="https://developer.salesforce.com/docs/atlas.en-us.api_analytics.meta/api_analytics/sforce_analytics_rest_api_intro.htm" target="workSample" rel="noreferrer">Developer Documentation</a></li>
				<li>In-app User Assistance</li>
				<li><a href="https://trailhead.salesforce.com/en/home" target="workSample" rel="noreferrer">Trailhead</a>, an Interactive Help App</li>
			</ul>
		</div>


		<div id="portfolio-item-example">
			<iframe src="" id="workSample" name="workSample"></iframe>
			<p>
				Select an example and to see it here.
			</p>
		</div>
{% endblock %}
