<!doctype html>

{% extends "templates/portfolio/portfolio.html" %}

{% block portfolio_item %}
	<div class="portfolio-item-container">
			<h1>
				Gifhov
			</h1>
			<p>
				Gifhov was the first complete Web Application that I ever built and published. It was a collaboration with my good friend, the brilliant Max Nelson.
			</p>
			<p>
				<a href="https://gifhov.com/" target="workSample" rel="noreferrer">Preview Gifhov</a></li>
			</p>
		</div>


		<div id="portfolio-item-example" style="background-color: #333333">
			<iframe src="" id="workSample" name="workSample"></iframe>
		</div>
{% endblock %}
