<!doctype html>

{% extends "templates/portfolio/portfolio.html" %}

{% block portfolio_item %}
	<div class="portfolio-item-container">
			<h1>
				Patterns
			</h1>
			<p>
				Here's an early Javscript application I made to help learn how to manipulate elements of webpage.
			</p>
			<p>
				Like with so many other projects, I got the idea while I was drinking a cup of coffee.  Specifically, and important to this project, a cup of Peet's coffee.
			</p>
			<p>
				Peet's coffee is served in paper cups decorated with traditional patterns from around the coffee-growing world.
			</p>
			<p>
				[[[Picture of Peet's coffee cups]]]
			</p>
			<p>
				(When I was in college I worked at Peet's Coffee, so I've spent a lot of time looking at these cups!)
			</p>
			<p>
				The patterns I saw on the cups reminded me of <a href="https://en.wikipedia.org/wiki/ASCII_art">ASCII art</a>, which isn't surprising because many of the prints on Peet's coffee cups were made using stitching patterns or stamps. ASCII characters are derived from typewriters, which in some sense are fancy forms of stamps.  As such, I think of this project as a sort of digital version of pattern making.
			</p>
			<p>
				My idea was to create a simple javascript application that printed ASCII patterns in specified places on a webpage.  The application works like this:
			</p>
				<ol>
					<li>Identify a div on the website by its "id" attribute.</li>
					<li>Next step</li>
					<li>Next step</li>
				</ol>
	</div>


			<div id="portfolio-item-example">
				<h1>
					Enter Two Bits of Text
				</h1>
				<p>
					The text you enter becomes the pattern. Repeating symbols work well. May I suggest starting with something simple like "/" in Line 1 and "\" in line 2?
				</p>
				<form onsubmit="return false">
					Line 1: <input type="text" value="_|__|_||" name="pattern1" /><br />
					Line 2: <input type="text" value="|_||_|__" name="pattern2" /><br /><br />
					<button onclick="drawPattern(pattern, pattern1.value, pattern2.value)">
						Print Pattern
					</button>
				</form>
				<p>
					Behold the pattern:
				</p>
				<div id="pattern-holder">
					<div id="pattern" />
				</div>
			</div>


<script src="static/js/patterns.js"></script>
{% endblock %}
