<!doctype html>

{% extends "templates/portfolio/portfolio.html" %}

{% block portfolio_item %}
		<h1>
			Patterns
		</h1>
		<p>
			Here's an early Javscript application I made to help learn how to manipulate elements of webpage. It's a basic application that works like this:
		</p>
			<ol>
				<li>Identify a div on the website by its "id" attribute.</li>
				<li>Next step</li>
				<li>Next step</li>
			</ol>
		<p>
			Check it out.
		</p>

		<div id="pattern" />


<script src="static/js/patterns.js"></script>
{% endblock %}
