<!doctype html>



<html>
<head>
	<title>Dan</title>
	<link rel=stylesheet type=text/css href="/static/css/style.css">
</head>
<body>



	{% extends "templates/layout.html" %}

	{% block body %}

    <div id="portfolio-nav-bar">

      <a href="/portfolio/analytics-cloud">
        <div class="portfolio-nav-button">
          Analytics<br />Cloud
        </div>
      </a>
      <a href="/portfolio/patterns">
        <div class="portfolio-nav-button">
          Patterns
        </div>
      </a>
      <div class="portfolio-nav-button">
        Button 3
      </div>
      <div class="portfolio-nav-button">
        Button 4
      </div>
      <div class="portfolio-nav-button">
        Button 5
      </div>
    </div>
    <div id="portfolio-note">
      <p>
        Here you'll find my <ph style="color: blue;">portfolio</ph>,<br />full of both professional and amateur achievements.
      </p>
      <p>
        And lots of <ph style="color: red;">unfinished projects</ph>.
      </p>
      <p>
         Unfinished projects are the best kind of projects. <ph style="color: yellow;">;)</ph>
      </p>
    </div>
    <div id="portfolio-body">
      <div class="portfolio-item-container">
        {% block portfolio_item %}
        {% endblock %}
      </div>
    </div>
	{% endblock %}



</body>
</html>
