/*
	Display sizes

		Phones

			iPhone 5s:
				1136-by-640-pixel resolution at 326 ppi

			iPhone 4s:
				960-by-640-pixel resolution at 326 ppi

			Nexus 5:
				1920x1080 display (445 ppi)

		Tablets

			ipad Air:
				2048-by-1536 resolution at 264 pixels per inch (ppi)

			iPad Mini with Retina Display:
				2048-by-1536 resolution at 326 pixels per inch (ppi)

			Nexus 7:
				1920x1200 HD display (323 ppi)

*/




/* Display width less than 768px */
/* No @media definition is needed because this is the default style. */



/* Display width >= 1200px */



/*@media (min-width: 992px) {*/


html {
	font-family: arial;
	background-color: #FFFFFA;
}

body {
	margin: 0;
	/*margin-top: 120px;*/
	margin-left: 230px; /*nav-bar width + nav-bar borders*/
	padding-left: 10px;
	color: #4A4A4A;
}

h1 {
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 3px solid #4A4A4A;
}



	/* Splash Screen */

	#nav-bar {
		position: fixed;
		text-align: center;
		/*height: 100%;*/
		left: 0;
		top: 0;
		width: 200px;
		height: 100%;
		padding: 10px;
		border-left: 7px solid #FFFFFA;
		border-right: 3px solid #FFFFFA;
		/*background-color: #4A4A4A;*/
		background-color: black;
		z-index: 1000;


		/*animation: 2s ease 0s 1 alternate scroll_to_bot;*/
		/*animation: duration | type | delay | repetitions | direction | function */

	}


	/* The animation function for #splash-container */
	/*@keyframes scroll_to_bot { from { height: 100%; } to { height: 100px; }  }*/


	/* Navigation */

	.nav-button {
		width: 100%;
		height: 0; padding-bottom: 50%;
		line-height: 100px;
		overflow: hidden;
		border-radius: 10px;
		background-size: 100% 100%;
		background-color: #D8D8D8;
	}

	.nav-button-container {

		width: 100%;
		margin-bottom: 10px;
		/*margin-top: 1%; margin-bottom: 1%;*/
		/*
		margin-left: 1%; margin-right: 1%;
		margin-top: 10px; margin-bottom: 10px;
		*/

		/*animation: 2s ease 2s 1 alternate nav_buttons_appear;*/
		/*animation: duration | type | delay | repetitions | direction | function */
	}
	/*@keyframes nav_buttons_appear { from { opacity: 0; } to { opacity: 1; }  }*/


	.nav-button-detail {
		position: absolute;
		/*display: inline-block;*/
		width: 100%;
		top: 100%;
		background-color: green;
		padding: 10px;
	}








	/* Logo */

		#logo-container	{
			width: 100%;
			margin-bottom: 10px;
		}

		#logo	{
			width: 100%;
			overflow: hidden;
			border-radius: 10px;
			background-color: #D8D8D8;
		}

		#logo > img	{
			width: 100%;
			display: block;
		}



		/* Nav Bar Sub (appears on hover) */

		.nav-bar-sub {
			position: absolute;
			width: 600px;
			top: 0;
			left: 101%;
			height: 100%;
			border-right: 3px solid #4A4A4A;
			/*background-color: #D8D8D8;*/
			background-color: #D8D8D8;


			display: none;
		}

		.nav-bar-sub-column {
			display: inline-block;
			width: 200px;
		}

		.nav-bar-sub-title {
			width: 150px;
			margin-left: 25px;
			margin-right: 25px;
			margin-top: 20px;
			margin-bottom: 20px;
			font-size: 23px;
			color: #4A4A4A;
		}


		.nav-bar-sub-button {
			display: inline-block;
			text-align: center;
			background-color: #D8D8D8;
			border-radius: 10px;
			width: 150px;
			height: 75px;
			line-height: 75px;
			margin: 10px;
		}



		/* Home */

		#home-pattern {
			/*width: 0;*/ /*assigned via JS*/
			/*height: 0;*/ /*assigned via JS*/
			font-size: 8px;

		}

		.home-portrait {
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: #333D33;

			overflow: hidden;
		}

		.home-portrait > img {
			/*float: right;*/
			height: 100%;
			position: fixed;
			bottom: 0;
			right: 0;
			/*display: block;*/
		}

		.home-description {
			position: absolute;
			width: 0%;
			margin: 10%;
			height: 500px; /*Assigned via JS*/
			background-color: #4A4A4A;
			opacity: 0.75;
		}



		/* Portfolio */

		.portfolio-portrait {
			float: left;
			width: 50%;
			background-color: blue;
		}

		.portfolio-portrait	> iframe {
			width: 100%;
			height: 750px;
		}

		.portfolio-body {

			width: 100%;

			background-color: grey;
		}

		.portfolio-body	> iframe {
			width: 50%;
			height: 750px;
		}

		.portfolio-body > span {
			vertical-align: top;
		}

		.portfolio-body > h1 {
			color: green;
		}



		/* Footer */

		#footer {
			position: fixed;
			text-align: center;
			/*height: 100%;*/
			right: 0;
			top: 0;
			width: 200px;
			height: 100%;
			padding: 10px;
			border-right: 7px solid white;
			border-left: 3px solid white;
			background-color: #4A4A4A;
		}
