/*
	Style file for desktop and large mobile screens
	Screen size wider than 1024 pixels
	No @media definition is needed because this is the default style

	For screens less than 1024 pixels in width, see style-mobile.css
*/




/* Display width less than 768px */
/* No @media definition is needed because this is the default style. */


@media (min-width: 1025px) {

	html {
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		text-align: justify;
		background-color: #222222;
		color: #FFFFFA;
	}

	body {
		margin: 0;
		/*margin-top: 120px;*/

	}

	a {
		color: orange;
	}

	a:visited {
		text-decoration: none;
	}

























	/* Display width >= 992px */
	/*
	@media (min-width: 992px) {
	}
	*/





		/* Splash Screen */

		#nav-bar {
			position: fixed;
			text-align: center;
			left: 0;
			bottom: 0;
			top: 0;
			width: 8%;
			padding-left: 1%; padding-right: 1%;
			background-color: #111111;
			/*z-index: 1000;*/

			/*animation: 2s ease 0s 1 alternate scroll_to_bot;*/
			/*animation: duration | type | delay | repetitions | direction | function */

		}


		/* The animation function for #splash-container */
		/*@keyframes scroll_to_bot { from { height: 100%; } to { height: 100px; }  }*/


		#nav-bar > a, #nav-bar > a:visited, #portfolio-nav-bar > a, #portfolio-nav-bar > a:visited {
			text-decoration: none;
			color: white;
		}


		/* Navigation */

		.nav-button {
			width: 100%;
			height: 100px;
			line-height: 100px;
			overflow: hidden;
			background-size: 100% 100%;
			background-color: #222222;
			cursor: pointer;
			/*margin-left: 20px; margin-top: 20px; margin-bottom: 20px;*/
			margin-top: 20px;

			float: left;

			transition: background-color 1s, color 1s;
		}

		.nav-button:hover {
			background-color: #FFFFFA;
			color: #111111;
		}

		.nav-portrait {
			position: fixed;
			right:0;
			bottom: 0;
			top: 0;
			width: 33%;
			*height: 0; /*padding-bottom: 100%;*/
			z-index: 2000;

		}

		.nav-portrait > img {
			/*float: right;*/
			height: 50%;
			max-height: 50%;/*718px;*/
			max-width: 30%;/*492px;*/
			position: fixed;
			bottom: 0;
			right: 0;

			/*display: block;*/
		}


	/*
		.nav-button-container {

			width: 200px;
			display:inline-block;
	*/

			/*margin-top: 1%; margin-bottom: 1%;*/
			/*
			margin-left: 1%; margin-right: 1%;
			margin-top: 10px; margin-bottom: 10px;
			*/

			/*animation: 2s ease 2s 1 alternate nav_buttons_appear;*/
			/*animation: duration | type | delay | repetitions | direction | function */
	/*	}*/
		/*@keyframes nav_buttons_appear { from { opacity: 0; } to { opacity: 1; }  }*/



		.nav-button-detail {
			position: absolute;
			/*display: inline-block;*/
			width: 100%;
			top: 100%;
			background-color: green;
			padding: 10px;
		}


		.nav-page-identifier {
			position: absolute;
			width: 1%;
			height: 30px;
			/*color set in HTML pages*/
			/*top set in HTML pages*/
			/*left set in HTML pages*/
		}








		/* Logo */


			#logo	{
				position: fixed;
				width: 8%;
				left: 1%;
				bottom: 20px;
				height: 0; padding-bottom: 8%;
				overflow: hidden;
				background-color: #444D44;

			}



			#logo > img	{
				width: 100%;
				display: block;
			}





			/* Nav Bar Sub (appears on hover) */

			.nav-bar-sub {
				position: fixed;
				width: 100%;

				bottom: 120px;
				left: 0;


				/*background-color: #D8D8D8;*/
				background-color: #FFFFFA;

				z-index: 1001;

				/*display: none;*/
			}

			.nav-bar-sub-column {
				float:left;
				margin: 1% 0 1% 1%;
				padding: 1%;
				width: 19%;
				background-color: #222222;
			}

			.nav-bar-sub-title {
				width: 150px;
				margin-left: 25px;
				margin-right: 25px;
				margin-top: 20px;
				margin-bottom: 20px;
				font-size: 23px;

			}


			.nav-bar-sub-button {
				display: inline-block;
				text-align: center;
				background-color: #D8D8D8;
				border-radius: 0px;
				width: 150px;
				height: 150px;
				/*line-height: 150px;*/

				margin: 10px;
			}

			.nav-bar-sub-button > a, .nav-bar-sub-button > a:visited {
				text-decoration: none;
				color: white;
			}

			.nav-bar-sub-button-title {
					margin-top: 100px;
					bottom: 0;
					left: 0;
					background-color: black;
					color: white;
					opacity: 0.7;
			}



			/* Home */




			#home-description {
				margin-left: 20%; margin-right: 33%; margin-top: 5%;
				padding: 3%;
			}




			/* Portfolio */

			#portfolio-nav-bar {
				position: fixed;
				text-align: center;
				left: 10%;
				bottom: 0;
				top: 0;
				width: 8%;
				padding-left: 1%; padding-right: 1%;
				background-color: #222222;


				/*animation: 2s ease 0s 1 alternate scroll_to_bot;*/
				/*animation: duration | type | delay | repetitions | direction | function */
			}

			#portfolio-description {
				margin-left: 10%; margin-right: 33%; margin-top: 5%;
				padding: 3%;
			}

			#portfolio-body {
				position: fixed;
				left: 20%;
				top: 0;
				width: 80%;

				min-height: 100%;

			}

			.portfolio-nav-button {
				width: 100%;
				height: 100px;
				line-height: 100px;
				overflow: hidden;
				background-size: 100% 100%;
				background-color: #333333;
				cursor: pointer;
				margin-top: 20px;
				float: left;
				transition: background-color 1s, color 1s;
			}

			.portfolio-nav-button:hover {
				background-color: #FFFFFA;
				color: #111111;
			}

			.portfolio-item-container {
				position: fixed;
				left: 20%;
				top: 0;
				width: 38%;
				background-color: #333333;
				min-height: 100%;
				padding-left: 1%; padding-right: 1%;
			}

			#portfolio-item-example {
				position: fixed;
				right: 0;
				top: 0;
				width: 38%;
				padding-left: 1%; padding-right: 1%;
				background-color: #444444;
				min-height: 100%;
				z-index: 3000;
			}

			#portfolio-item-example > iframe {
				position: absolute;
				width: 100%;
				height: 100%;
				border: 0;
			}



			/* Pattern (Portfolio Piece) */

			#pattern {
				/*width: 0;*/ /*assigned via JS*/
				/*height: 0;*/ /*assigned via JS*/
				font-size: 8px;
				font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
				background-color: #FFFFFA;
				color: #111111;
				overflow: hidden;
			}

			#pattern-holder {
				width: 100%;
				height: 200px;
			}

			/* Footer */

			#footer {
				position: fixed;
				text-align: center;
				/*height: 100%;*/
				right: 0;
				top: 0;
				width: 200px;
				height: 100%;
				padding: 10px;
				border-right: 7px solid white;
				border-left: 3px solid white;
				background-color: #4A4A4A;
			}

}
