/*
	Display sizes

		Phones

			iPhone 5s:
				1136-by-640-pixel resolution at 326 ppi

			iPhone 4s:
				960-by-640-pixel resolution at 326 ppi

			Nexus 5:
				1920x1080 display (445 ppi)

		Tablets

			ipad Air:
				2048-by-1536 resolution at 264 pixels per inch (ppi)

			iPad Mini with Retina Display:
				2048-by-1536 resolution at 326 pixels per inch (ppi)

			Nexus 7:
				1920x1200 HD display (323 ppi)

*/




/* Display width less than 768px */
/* No @media definition is needed because this is the default style. */



/* Display width >= 1200px */



/*@media (min-width: 992px) {*/


html {
	font-family: arial;
	background-color: white;
}

body {
	margin: 0;
	/*margin-top: 120px;*/
	margin-left: 230px; /*nav-bar width + nav-bar borders*/
	color: white;
}




	/* Splash Screen */

	#nav-bar {
		position: fixed;
		text-align: center;
		/*height: 100%;*/
		left: 0;
		top: 0;
		width: 200px;
		height: 100%;
		padding: 10px;
		border-left: 7px solid #FFFFFA;
		border-right: 3px solid #FFFFFA;
		/*background-color: #4A4A4A;*/
		background-color: #333D33;
		z-index: 1000;

		/*animation: 2s ease 0s 1 alternate scroll_to_bot;*/
		/*animation: duration | type | delay | repetitions | direction | function */

	}


	/* The animation function for #splash-container */
	/*@keyframes scroll_to_bot { from { height: 100%; } to { height: 100px; }  }*/


	#nav-bar > a, #nav-bar > a:visited {
		text-decoration: none;
		color: white;
	}


	/* Navigation */

	.nav-button {
		width: 100%;
		height: 0; padding-bottom: 50%;
		line-height: 100px;
		overflow: hidden;
		border-radius: 0px;
		background-size: 100% 100%;
		background-color: #D8D8D8;
		cursor: pointer;
		margin-bottom: 10px;
	}

	.nav-button-container {
		position: fixed;
		bottom: 0;
		left: 17px;
		width: 200px;


		/*margin-top: 1%; margin-bottom: 1%;*/
		/*
		margin-left: 1%; margin-right: 1%;
		margin-top: 10px; margin-bottom: 10px;
		*/

		/*animation: 2s ease 2s 1 alternate nav_buttons_appear;*/
		/*animation: duration | type | delay | repetitions | direction | function */
	}
	/*@keyframes nav_buttons_appear { from { opacity: 0; } to { opacity: 1; }  }*/



	.nav-button-detail {
		position: absolute;
		/*display: inline-block;*/
		width: 100%;
		top: 100%;
		background-color: green;
		padding: 10px;
	}








	/* Logo */


		#logo	{
			width: 100%;
			height: 0; padding-bottom: 100%;
			overflow: hidden;
			background-color: #D8D8D8;
			line-height: 200px;
		}



		#logo > img	{
			width: 100%;
			display: block;
		}





		/* Nav Bar Sub (appears on hover) */

		.nav-bar-sub {
			position: absolute;
			width: 600px;
			top: 0;
			left: 100%;
			height: 100%;
			border-left: 3px solid white;
			border-right: 3px solid white;
			/*background-color: #D8D8D8;*/
			background-color: #333D33;


			display: none;
		}

		.nav-bar-sub-column {
			display: inline-block;
			width: 200px;
		}

		.nav-bar-sub-title {
			width: 150px;
			margin-left: 25px;
			margin-right: 25px;
			margin-top: 20px;
			margin-bottom: 20px;
			font-size: 23px;

		}


		.nav-bar-sub-button {
			display: inline-block;
			text-align: center;
			background-color: #D8D8D8;
			border-radius: 0px;
			width: 150px;
			height: 150px;
			/*line-height: 150px;*/

			margin: 10px;
		}

		.nav-bar-sub-button > a, .nav-bar-sub-button > a:visited {
			text-decoration: none;
			color: white;
		}

		.nav-bar-sub-button-title {
				margin-top: 100px;
				bottom: 0;
				left: 0;
				background-color: black;
				color: white;
				opacity: 0.7;
		}



		/* Home */

		#home-pattern {
			/*width: 0;*/ /*assigned via JS*/
			/*height: 0;*/ /*assigned via JS*/
			font-size: 8px;

		}

		.home-portrait {
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: #333D33;

			overflow: hidden;
		}

		.home-portrait > img {
			/*float: right;*/
			height: 100%;
			max-height: 960px;
			position: fixed;
			bottom: 0;
			right: 0;
			/*display: block;*/
		}

		.home-description {
			position: fixed;
			top: 0;
			left: 0;
			padding: 10px;
			width: 25%;
			margin-top: 100px;
			margin-left: 330px;
			/*height: 500px; /*Assigned via JS*/
		}



		/* Portfolio */

		.portfolio-body {

			width: 40%;
			padding: 5%;
			background-color: white;
			color: black;
		}

		.portfolio-portrait {
			position: fixed;
			right: 0;
			top: 0;
			width: 40%;
			overflow: hidden;
			height: 100%;
			background-color: #333D33;
		}

		.portfolio-portrait > img {
			margin-left: 25%;
			margin-right: auto;
			width: 50%;
			margin-top: 300px;
		}





		/* Footer */

		#footer {
			position: fixed;
			text-align: center;
			/*height: 100%;*/
			right: 0;
			top: 0;
			width: 200px;
			height: 100%;
			padding: 10px;
			border-right: 7px solid white;
			border-left: 3px solid white;
			background-color: #4A4A4A;
		}
