<!doctype html>



<html>



<head>
	<title>Dan</title>
	<link rel=stylesheet type=text/css href="/static/css/style.css">
</head>


<body>












	{% extends "templates/layout.html" %}

	{% block body %}

	<div id="home-description">
		<h1>
			Hey there,
		</h1>
		<p>
			My name is <b><ph style="color: blue;">Daniel Heinrich</ph></b>, and I'm very excited to welcome you to my website.  Fashioning myself off the proverbial renaissance man, I think of myself as a <b><ph style="color: yellow;">thinker</ph></b> and a <b><ph style="color: red;">tinkerer</ph></b>.
		</p>
		<p>
			Currently, I'm happily working as a Lead Technical Writer on the <a href="https://www.salesforce.com/products/einstein-analytics/overview/">Analytics Cloud</a> at Salesforce.  We build products that millions of people use to analyze their business data.
		</p>
		<p>
			My other pursuits include, but aren't limited to:
			<ul>
					<li>Web Development and Design</li>
					<li>Animation</li>
					<li>Music</li>
			</ul>
			Examples of each can be found right here. To see 'em, visit my portfolio.
		</p>
		<p>
			Thanks for stopping by!
		</p>
	</div>
	{% endblock %}



</body>



</html>
