<!doctype html>

{% extends "templates/layout.html" %}

{% block body %}






	<div class="home-portrait">
		<img src="../static/images/home_portrait_1t.png" />
	</div>

	<div class="home-description">
		<h1>
			Hey there,
		</h1>
		<p>
			My name is Daniel Heinrich. I develop Web applications and write documentation. Sometimes I animate cartoons, and sometimes I play the guitar.
		</p>
		<p>
			Go ahead and have a look around my little corner of the Web. If you'd like to get in touch, please write.
		</p>
		<p>
			Thanks for visiting!
		</p>
	</div>

	<div id="home-pattern">

	</div>


{% endblock %}
