<!doctype html>





<html>
<head>
	<title>Dan</title>

	<link rel=stylesheet type=text/css href="static/css/style.css">
</head>


<body>

	<div id="nav-footer">
		<div class="nav-button-container">
			<div class="nav-button">
				Nav Button 1
			</div>
		</div>
		<div class="nav-button-container">
			<div class="nav-button">
				Nav Button 2
			</div>
		</div>
		<div class='logo-container'>
			<div class='logo'>
				Logo
				<!--<img src='static/images/logos/imageofme_{{randlogo}}.jpg'>-->
			</div>
		</div>
		<div class="nav-button-container">
			<div class="nav-button">
				Nav Button 3
			</div>
		</div>
		<div class="nav-button-container">
			<div class="nav-button">
				Nav Button 4
			</div>
		</div>
	</div>



	{% block body %}
	{% endblock %}

<script src="static/js/scripts.js"></script>

</body>
</html>
