<!doctype html>





<html>



<head>
	<title>Dan</title>
	<link rel=stylesheet type=text/css href="/static/css/style.css">
</head>


<body>

	<div id="nav-bar">

		<a href = "/">
			<div id='logo'>
				Daniel Heinrich
			</div>
		</a>


		<div class="nav-button-container">

				<div class="nav-button" style="background-color: #000D00;"><!-- style="background-image: url('/static/images/buttons/waves_400x400.gif');">-->
					<!--<image src="/static/images/home_portrait_1.jpg" />-->
					Documentation
				</div>
				<div class="nav-button" style="background-color: #111D11;"><!-- style="background-image: url('/static/images/buttons/waves_400x400.gif');">-->
					Design
				</div>
				<div class="nav-button" style="background-color: #222D22;">
					Development
				</div>

		</div>



	<div class="nav-bar-sub">

		<div class="nav-bar-sub-column">

			<div class="nav-bar-sub-title">
				Documentation
			</div>
			<a href = "/portfolio/analytics-cloud">
				<div class="nav-bar-sub-button">
					<div class="nav-bar-sub-button-title">
						Salesforce Analytics Cloud
					</div>
				</div>
			</a>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
		</div><!--
			No space between in-line blocks
--><div class="nav-bar-sub-column">

			<div class="nav-bar-sub-title">
				Web Apps
			</div>

			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
		</div><!--
			No space between in-line blocks
--><div class="nav-bar-sub-column">

			<div class="nav-bar-sub-title">
				Experiments
			</div>

			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
		</div>

	</div>

</div>





	{% block body %}
	{% endblock %}

	<!--<div id="footer">

	</div>-->

<script src="static/js/scripts.js"></script>

</body>



</html>
