<!doctype html>





<html>



<head>
	<title>Dan</title>
	<link rel=stylesheet type=text/css href="/static/css/style.css">
</head>


<body>

	<div id="nav-bar">

		<div id='logo-container'>
			<a href = "/">
				<div id='logo'>
					<image src="/static/images/home_portrait_1.jpg" />
					<!--<img src='static/images/logos/imageofme_{{randlogo}}.jpg'>-->
				</div>
			</a>
		</div>

		<div class="nav-button-container">
			<a href = "/#">
				<div class="nav-button"><!-- style="background-image: url('/static/images/buttons/waves_400x400.gif');">-->
					<!--<image src="/static/images/home_portrait_1.jpg" />-->
					Portfolio
				</div>
			</a>
		</div>
		<div class="nav-button-container">
			<div class="nav-button">
				Experiments
			</div>
		</div>
		<div class="nav-button-container">
			<div class="nav-button">
				Art
			</div>
		</div>
		<div class="nav-button-container">
			<div class="nav-button">
				Resume
			</div>
		</div>


	<div class="nav-bar-sub">

		<div class="nav-bar-sub-column">

			<div class="nav-bar-sub-title">
				Documentation
			</div>

			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
		</div><!--
			No space between in-line blocks
--><div class="nav-bar-sub-column">

			<div class="nav-bar-sub-title">
				Web Apps
			</div>

			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
		</div><!--
			No space between in-line blocks
--><div class="nav-bar-sub-column">

			<div class="nav-bar-sub-title">
				Experiments
			</div>

			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
			<div class="nav-bar-sub-button">
				Portfolio Button
			</div>
		</div>

	</div>

</div>





	{% block body %}
	{% endblock %}

	<!--<div id="footer">

	</div>-->

<script src="static/js/scripts.js"></script>

</body>



</html>
