<!doctype html>

{% extends "templates/layout.html" %}

{% block body %}
	<!--
	<div id="splash-container">
		<div id="testdiv">THIS IS A TEST</div>
	</div>
	-->
	<div class="portfolio-bar">
		<div class="portfolio-button-container">
			<div class="portfolio-button">
				Portfolio Button
			</div>
		</div>
		<div class="portfolio-button-container">
			<div class="portfolio-button">
				Portfolio Button
			</div>
		</div>
		<div class="portfolio-button-container">
			<div class="portfolio-button">
				Portfolio Button
			</div>
		</div>
		<div class="portfolio-button-container">
			<div class="portfolio-button">
				Portfolio Button
			</div>
		</div>
	</div>

	<div class="portfolio-body">
		<ul>
			<li>
				Documentation delivered via a Heroku-hosted Web application
				<br />
				<br />
					Salesforce Files Sync
					<br />
					<a href = "http://files.docs.salesforce.com/">http://files.docs.salesforce.com/</a>
					<br />
					<br />
					Salesforce Wave Analytics Mobile
					<br />
					<a href = "http://mobile-analytics.docs.salesforce.com/">http://mobile-analytics.docs.salesforce.com/</a>
			</li>
		</ul>
	</div>




{% endblock %}
