<!doctype html>

{% extends "templates/layout.html" %}

{% block body %}
	<!--
	<div id="splash-container">
		<div id="testdiv">THIS IS A TEST</div>
	</div>
	-->
	<div class="portfolio-bar">
		<div class="portfolio-button-container">
			<div class="portfolio-button">
				Portfolio Button
			</div>
		</div>
		<div class="portfolio-button-container">
			<div class="portfolio-button">
				Portfolio Button
			</div>
		</div>
		<div class="portfolio-button-container">
			<div class="portfolio-button">
				Portfolio Button
			</div>
		</div>
		<div class="portfolio-button-container">
			<div class="portfolio-button">
				Portfolio Button
			</div>
		</div>
	</div>


	<div class="portfolio-body">
			<iframe src="http://gifhov.com/">
				<p>Your browser does not support iframes.</p>
			</iframe>
		<span>Portfolio Body</span>
	</div>




{% endblock %}
